*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* body{
    height: 20000px;
} */

nav
{
    display: flex;
    height: 120px;
    transition: 1s;
    position: fixed;
    width: 100%;
}
.click_nav
{
    display: none;
}
#menu
{
    display: none;
}
.content_logo
{
    width: 10%;
    padding-left: 5%;
    padding-top: 2%;
}
.content_logo img
{
    width: 120px;
}
.content_nav_home
{
    width: 60%;
    padding-top: 2.5%;
    padding-left: 25%;
}
.content_nav_home li
{
    display: inline;
    margin-left: 6%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    left: 0;
    transition: 0.3s;
}
.content_nav_home li:hover
{
    border-bottom: 2px solid transparent;
    border-color: red;
    /* transform: translateX(100%); */
}
.content_nav_home ul li button
{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d6111f;
    background-color: #d6111f;
    color: white;
    cursor: pointer;
    transition: 1s;
    /* transition: color .4s ease; */
}
.content_nav_home ul li button:hover
{
    background-color: #981820;
}

/* finish nav bar */

/* start under_nav */
.baground_mov
{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    /* background-image: url(/imgs/header.png); */
    position: absolute;
    z-index: -10;
}
.baground_mov div
{
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 1;
    animation: zoom 10s ease-in-out infinite;
}
.under_nav
{
    width: 100%;
    height: 100vh;
}
@keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.title_header
{
    width: 50%;
    height: 300px;
    z-index: -1;
    padding-top: 470px;
    padding-left: 50px;
}
.title_header h1
{
    font-size: 70px;
    color: #a99d61;
    z-index: 4;
    font-weight: bold;
}
.title_header h2
{
    font-size: 80px;
    color: #fdfdfd;
    z-index: 4;
    font-weight: bold;
}
.title_header p
{
    color: rgba(255, 255, 255, 0.732);
    line-height: 150%;
}
/* finish under_nav */


/* under header */

.under_header
{
    background-color: #f4f2e9;
    z-index: 10;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: -110px;
    display: flex;
}

.under_header div
{
    width: 34%;
    height: 250px;
}
.flexDisply
{
    display: flex;
}
.flexDisply div:first-child
{
    width: 35%;
    
}
.flexDisply div:nth-child(2)
{
    width: 60%;
}
.flexDisply div p:first-child
{
    padding-top: 16%;
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-bottom: 5%;
}
.flexDisply div p:nth-child(2)
{
    color: #737373;
    padding-bottom: 5%;
    line-height: 26px;
    text-align: justify;
    width: 90%;
}
.flexDisply div p:nth-child(3)
{
    color: #d6111f;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}
.flexDisply img
{
    padding-top: 27%;
    display: block;
    margin: 0 auto;
}
.border-right
{
    border-right: 1px solid rgba(165, 165, 165, 0.631);
}

.imgUnderHeader
{
    border-radius: 0;
}
/* finish */
/* beging live */
.live
{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 100px;
    border-bottom: 1px solid rgba(167, 167, 167, 0.613);
}
.live div:first-child
{
    width: 55%;
    height: 500px;
}
.live div:nth-child(2)
{
    width: 45%;
    height: 500px;
    background-image: url(../imgs/live-sport.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.sp
{
    color: #d6111f;
    font-weight: bold;
    font-size: 50px;
}
.contSp
{
    margin-left: 120px;
}
.live div:first-child p:first-child
{
    font-size: 50px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 20px;
}
.live div:first-child p:nth-child(2)
{
    margin-left: 80px;
    margin-top: 20px;
    color: #737373;
    width: 70%;
    line-height: 25px;
}
.live div:first-child p:nth-child(3)
{
    margin-left: 80px;
    margin-top: 60px;
    color: #000000;
    width: 70%;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
}
.live div:first-child button
{
    margin-left: 80px;
    margin-top: 40px;
    width: 300px;
    height: 60px;
    background-color: #d6111f;
    color: white;
    border: 1px solid #d6111f;
    font-weight: bold;
    font-size: 17px;
    border-radius: 7px;
    transition: 0.8s;
    margin-bottom: 0px;
}
.live div:first-child button:hover
{
    background-color: #96161f;
}
/* finish live */

/* begin  befor plan*/
.beforePlan
{
    padding-top: 70px;
    width: 100%;
    display: flex;
    /* background-color: red; */
    padding-bottom: 100px;
}

.beforePlan .selDiv
{
    display: flex;
    width:28%;
    padding-left: 4.5vw;
}

.beforePlan .selDiv img
{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.beforePlan .selDiv div
{
    display: flex;
    flex-direction: column;
}
.selDiv div:nth-child(2)
{
    margin-left: 15%;
}
.beforePlan .selDiv p
{
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    font-weight: bold;
}
/* finsh  */

/* begin plane */
.plane
{
    width: 100%;
    background-color: #171422;
    padding-top: 50px;
}
.plane .tilePlane
{
    width: 100%;
    /* background-color: #d6111f; */
    margin: 0 auto;
}
.plane .p1
{
    font-weight: bold;
    font-size: 18px;
    color: #d6111f;
    text-align: center;
    margin-bottom: 10px;
}
.plane .p2
{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.plane .p3
{
    text-align: center;
    color: rgba(255, 255, 255, 0.708);
    line-height: 28px;
    
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.all_plane
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* part to of plane */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
  }
  
  .column {
    flex-basis: 22%;
    box-sizing: border-box;
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
    transition: 0.8s;
  }
  .column:hover
  {
    margin-top: -50px;
  }
  .partonePlane
  {
    height: 130px;
    background-color: #f4f2e9;
    padding-top: 50px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 70px;
  }
  .partonePlane .p2
  {
    color: #000000;
    font-size: 30px;
  }
  /* .partoneTwo
  {
    text-align: justify;
  } */
  .partoneTwo p
  {
    /* display: flex;
    justify-content: center; */
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
    color: #434343;
    
  }
  .partoneTwo button
  {
    display: block;
    margin: 0 auto;
    transition: 0.5s;

  }
  .partoneTwo button:hover
  {
    cursor: pointer;
    background-color: #810b13;
    border: 1px solid #810b13;
  }
  .partoneTwo .p4Two
  {
    margin-bottom: 40px;
  }
  .partoneTwo .p5Two
  {
    padding-left: 15%;
    margin-bottom: 50px;
  }
  .partoneTwo button
  {
    margin-bottom: 15%;
    width: 200px;
    height: 50px;
    background-color: #d6111f;
    border: 1px solid #d6111f;
    color: white;
    border-radius: 10px;
  }
  .point
  {
    color: #d6111f;
  }
  .partoneTwo .spanDolar
  {
    color: #d6111f;
    font-weight: bold;
    font-size: 19px;
  }
  .partoneTwo .spanMonth
  {
    font-weight: bold;
    font-size: 19px;
  }
  /* slide */
  .contanaireMovise
  {
    background-color: #171422;
    
  }
  .contanaireMovise .titleMovise
  {
    text-align: center;
  }
  .contanaireMovise .moviseP1
  {
    /* margin-top: 55px; */
    font-weight: bold;
    color: #d6111f;
    font-size: 17px;
    margin-bottom: 20px;
    padding-top: 80px;
  }
  .contanaireMovise .moviseP2
  {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .contanaireMovise .moviseP3
  {
    color: rgb(206, 206, 206);
    width: 50%;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .image-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    max-width: 90%;
    height: 90%;
    animation: slide 20s linear infinite;
  }
  
  .slider img {
    flex: 1;
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* finish slide */
  @media screen and (max-width: 1000px) {
    .column {
      flex-basis: 35%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex-basis: 85%;
    }
  }
  
/* finish */

/* coments */
    .titleComents
    {
        text-align: center;
        padding-top: 90px;
    }
    .titleComents .comntP1
    {
        color: #d6111f;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 20px;

    }
    .titleComents .comntP2
    {
        color: black;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 30px;
    }

/* finish coments */
@media  (max-width: 1240px)
{
    .content_nav_home
    {
        width: 80%;
        padding-top: 3%;
        padding-left: 15%;
    }
    .title_header
    {
        width: 70%;
        height: 300px;
        z-index: -1;
        padding-top: 400px;
        padding-left: 50px;
    }
    .partoneTwo p
    {
        /* display: flex;
        justify-content: center; */
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 20px;
        color: #434343;
        
    }
}

@media  (max-width: 1100px)
{
    .content_nav_home
    {
        width: 80%;
        padding-top: 4%;
        padding-left: 15%;
    }
    
}

@media (max-width: 1000px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 350px;
        padding-left: 50px;
    }
    .under_header
    {
        background-color: transparent;
        flex-direction: column;
        height: 100%;
    }

    .under_header div
    {
        width: 100%;
        height: 250px;
        background-color:#f4f2e9;
    }
    .flexDisply div p:first-child
    {
        padding-top: 13%;
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding-bottom: 5%;
    }
    .border-right
    {
        border-bottom: 1px solid rgba(170, 170, 170, 0.513);
        border-right: 0;
    }
    .imgUnderHeader
    {
        border-radius: 10px 0px 0px 0;
    }
    .border-reduis
    {
        border-radius: 10px 10px 0 0 ;
    }
    .live
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .live div:first-child
    {
        width: 100%;
        margin-bottom: 30px;

    }
    .live div:nth-child(2)
    {
        width: 100%;
        height: 500px;
        background-image: url(../imgs/live-sport.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .live div:first-child p:nth-child(2)
    {
        margin-left: 0px;
        margin-top: 20px;
        color: #737373;
        width: 80%;
        line-height: 25px;
    }
    .live div:first-child p:first-child
    {
        font-size: 50px;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 20px;
    }
    .live div:first-child p:nth-child(2)
    {
        margin-left: 0px;
        margin-top: 50px;
        color: #737373;
        width: 100%;
        line-height: 25px;
    }
    .live div:first-child p:nth-child(3)
    {
        margin-left: 0px;
        margin-top: 60px;
        color: #000000;
        width: 100%;
    }
    .live div:first-child button
    {
       margin: 0 auto;
    }
    .contSp
    {
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
    }
    .beforePlan
    {
        flex-direction: column;
    }
    .beforePlan .selDiv
    {
        display: flex;
        width:60%;
        padding-left: 22vw;
        margin-bottom: 40px;
    }
    
    /* .flexDisply
    {
        border: 10px solid black;
    } */
}

@media  (max-width: 880px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 350px;
        padding-left: 50px;
    }
    .content_nav_home
    {
        width: 80%;
        padding-top: 3%;
        padding-left: 5%;
    }
}

@media  (max-width: 842px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 350px;
        padding-left: 50px;
    }
}
@media  (max-width: 775px)
{
    .content_nav_home
    {
        display: none;
    }
    #menu
    {
        display: block;
    }
    .nav_mobile
    {
        display: block;
        width: 80%;
        padding-left: 75%;
        padding-top: 3%;
    }
    .nav_mobile img
    {
        width: 50px;
        cursor: pointer;
    }
    /* nav mobile click */
    
    .click_nav
    {
        display: block;
        width: 300px;
        height: 100vh;
        position: absolute;
        top:0px;
        right: -300px;
        background-color: #060002;
        transition: 1s;
    }
    .click_nav img
    {
        width: 30px;
        margin: 8%;
    }
    /* finish nav mibile click */

    /* beging menu mobile */

    .all_menu
    {
        margin-top: 20%;
    }
    .all_menu div
    {
        padding: 30px;
        transition: 0.5s;

    }
    .all_menu div:hover
    {
        background-color: #d6111f;
    }
    .click_nav div
    {
        width: 100%;
        color: white;
        background-color: rgb(4, 2, 2);
        font-size:17px;
    }
    /* .under_nav
    {
        background-size:cover;
        background-position: center center;
        background-attachment: fixed;
        position: absolute;
        z-index: 1;
    } */

    /* finish menu monbile */
}

@media  (max-width: 600px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 350px;
        padding-left: 50px;
    }
    .under_nav
    {
        width: 100%;
        height: 80vh;
        /* background-image: url(/imgs/header.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        background-attachment: fixed;
        z-index: 1; */
    }
    .title_header h1
    {
        font-size: 40px;
        color: #a99d61;
        z-index: 4;
        font-weight: bold;
    }
    .title_header h2
    {
        font-size: 40px;
        color: #fdfdfd;
        z-index: 4;
        font-weight: bold;
    }
    .title_header p
    {
        width: 100%;
    }
    .under_header div
    {
        height: 220px;
    }
    .baground_mov
    {
        width: 100%;
        height: 80vh;
        /* background-color: red; */
        /* background-image: url(/imgs/header.png); */
        position: absolute;
        z-index: -10;
    }
    .baground_mov div
    {
        width: 100%;
        height: 80vh;
    }
    
    .beforePlan .selDiv
    {
        flex-direction: column;
    }
    .beforePlan .selDiv div
    {
        margin-bottom: 30px;
    }
    .selDiv div:nth-child(2)
    {
        margin-left: 0%;
    }
    .partoneTwo p
    {
        /* display: flex;
        justify-content: center; */
        width: 60%;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 20px;
        color: #434343;
        
    }
    nav
    {
        display: flex;
        height: 100px;
        transition: 1s;
        position: fixed;
        width: 100%;
    }
    .live div:first-child p:first-child
    {
        font-size: 37px;
        font-weight: bold;
        /* margin-left: 80px; */
        margin-top: 20px;
        text-align: center;
    }
    .sp
    {
        color: #d6111f;
        font-weight: bold;
        font-size: 40px;
    }
    .titleMovise .moviseP3
    {
        width: 90%;
    }
    .plane .p3
    {
        width: 90%;
    }
    .slider {
    display: flex;
    max-width: 100%;
    height: 90%;
    animation: slide 10s linear infinite;
    }
    
    .slider img {
    flex: 1;
    height: 100%;
    object-fit: cover;
    }
    
    @keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
    }    
}

@media  (max-width: 530px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 350px;
        padding-left: 50px;
        padding-bottom: 10%;
    }
    .content_nav_home
    {
        width: 80%;
        padding-top: 5%;
        padding-left: 7%;
    }
    .title_header h1
    {
        font-size: 45px;
        color: #a99d61;
        z-index: 4;
        font-weight: bold;
    }
    .title_header h2
    {
        font-size: 45px;
        color: #fdfdfd;
        z-index: 4;
        font-weight: bold;
    }
    .title_header p
    {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.732);
        line-height: 150%;
        width: 100%;
    }
    .under_nav
    {
        height: 80vh;
    }
    .nav_mobile
    {
        display: block;
        width: 80%;
        padding-left: 70%;
        padding-top: 3%;
    }
    .flexDisply div p:first-child
    {
        padding-top: 15%;
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding-bottom: 5%;
    }
    .baground_mov
    {
        width: 100%;
        height: 80vh;
        /* background-color: red; */
        /* background-image: url(/imgs/header.png); */
        position: absolute;
        z-index: -10;
    }
    .baground_mov div
    {
        width: 100%;
        height: 80vh;
    }
    .partoneTwo p
    {
        /* display: flex;
        justify-content: center; */
        width: 60%;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 20px;
        color: #434343;
        
    }
}
@media  (max-width: 450px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 300px;
        padding-left: 50px;
        padding-bottom: 10%;
    }
    .title_header h1
    {
        font-size: 35px;
        color: #a99d61;
        z-index: 4;
        font-weight: bold;
    }
    .title_header h2
    {
        font-size: 35px;
        color: #fdfdfd;
        z-index: 4;
        font-weight: bold;
    }
    .title_header p
    {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.732);
        line-height: 150%;
        width: 100%;
    }
    .partoneTwo p
    {
        /* display: flex;
        justify-content: center; */
        width: 60%;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 20px;
        color: #434343;
        
    }
}
@media  (max-width: 375px)
{
    .title_header
    {
        width: 80%;
        height: 300px;
        z-index: -1;
        padding-top: 200px;
        padding-left: 50px;
        padding-bottom: 10%;
    }
    .nav_mobile
    {
        display: block;
        width: 80%;
        padding-left: 65%;
        padding-top: 3%;
    }
    .title_header h1
    {
        font-size: 35px;
        color: #a99d61;
        z-index: 4;
        font-weight: bold;
    }
    .title_header h2
    {
        font-size: 35px;
        color: #fdfdfd;
        z-index: 4;
        font-weight: bold;
    }
    .title_header p
    {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.732);
        line-height: 150%;
        width: 100%;
    }
    .flexDisply div p:first-child
    {
        padding-top: 20%;
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding-bottom: 5%;
    }
    .flexDisply div img
    {
        margin-top: 12px;
    }
    .oneOfThird
    {
        padding-left: 5%;
        border-radius: 0px 10px 0 0 ;
    }
    .under_header div
    {
        height: 220px;
    }
    .column {
        flex-basis: 90%;
      }
    .partoneTwo p
    {
        /* display: flex;
        justify-content: center; */
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        margin-bottom: 20px;
        color: #434343;
        
    }
}

@media  (max-width: 335px)
{
    
    .nav_mobile
    {
        display: block;
        width: 80%;
        padding-left: 65%;
        padding-top: 3%;
    }
    
}